:root {
  --blue: #4d86bf;
  --red: #9d1c13;
  --green: #47804d;
}

*[tabindex="0"]:focus:not(.focus-visible),
button:focus:not(.focus-visible) {
  outline: none;
}

body {
  background-color: var(--blue);
  font-family: sans-serif;
  color: white;
}

p {
  font-family: sans-serif;
}

h1 {
  margin-bottom: 0;
}
h1::before,
h1::after {
  display: inline-block;
  content: "";
  width: 50px;
  height: 30px;
  background-image: url("./holly.png");
  background-size: 40px;
  background-repeat: no-repeat;
}
h1::before {
  transform: scaleX(-1);
  filter: FlipH;
}

h2 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: white;
}

.close-button {
  border: none;
  background: none;
  font-size: 25px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

.door {
  height: 175px;
  width: 150px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  cursor: default;
  margin: 5px;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--green);
  transition: 300ms;
}

.door svg {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 29px;
  top: 24px;
  opacity: 0.6;
  fill: white;
}

button {
  cursor: pointer;
}

.locked-number {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  opacity: 0.6;
}

button:disabled {
  cursor: not-allowed;
}

.number {
  font-size: 70px;
  margin-bottom: 20px;
  color: white;
}
.door button {
  margin: 0;
  border-radius: 0;
  border: none;
  border-top: solid 1px gray;
  height: 40px;
  font-size: 1.2em;
  background-color: var(--red);
  color: white;
}

.container {
  display: flex;
  max-width: 850px;
  flex-wrap: wrap;
}

[data-reach-dialog-content] {
  width: 50vw;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10vh auto;
  border-radius: 10px;
  background: var(--blue) !important;
  padding: 2rem;
  outline: none;
}

[data-reach-dialog-content] button.show-answer {
  border: none;
  padding: 10px 20px;
  background-color: var(--red);
  color: white;
  font-size: 1em;
}
